body {
    padding-bottom: 70px;
}

.black {
    /*background-color: #000;*/
    background-color: #fff;
}

.grey {
    background-color: #a5a5a5;
}

.light-grey {
    background-color: #d1d1d1;
}

.float-left {
    float: left;
}

span.large-font {
    font-size: 20px;
    color: #fff;
}

.float-right {
    float: right;
}

.margin-20 {
    margin: 20px;
}

.forbid-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.intro-text {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    width: 70%;
    margin: auto;
    /* color: #fff; */
    /* font-size: x-large; */
    text-align: center;
    border: 2px solid;
    border-color: rgba(165, 165, 165, 0.5);
    padding: 5em;
    border-radius: 15px 15px;
    margin-bottom: 20px;
    margin-top: -9em;
}

#circle {
	width: 100px;
	height: 100px;
	background: #f9b24d;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.timer {
    font-size: 21px;
    /* color: white; */
    font-weight: bold;
    color : #d9534f;
}
#start-test-button {
    background: #f79832;
    border: none;
    margin-right: 10px;
}

#body {
    background: #fff;
    font-family: Open Sans, Arial, Helvetica, sans-serif;

}

img.logo_standard {
    margin: 5px;
}

#test-progress {
    padding: 5em;
}

